.flex-wrapper{
	max-width:100%;
	width:1000px;
	display:flex;
	margin: 0 auto;
	min-height:500px;
	
	flex-direction:row;
}
.flex-block{
	display:flex;
	flex-basis:100%;
	justify-content: center;
	
}
.alone{
	align-items:center;
	flex-basis:100%;
	border:3px solid DimGray;
	background-color: LightPink;
	margin:2px;
}
.parent{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-content: center;
}
.flex-element{
	display:flex;
	flex:auto;	
	justify-content: center;
	align-items: center;
	border:3px solid DimGray;
	background-color: LightPink;
	margin:2px;
}


/*
flex-main-div and others
*/

.flex-main-div{
	display:flex;
	flex-wrap:wrap;
	max-width:100%;

	width:100%;
	height:200px;
	flex-direction: row;
	margin: 0 auto;
	

}

.flex-main-div-item{
	display:flex;
	justify-content: center;
	align-items: center;
	border:3px solid DimGray;
	background-color: LightPink;
	border-radius:5px;
	flex-basis:30%;
	margin:3px;
	flex-grow:1;
}